<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">{{ system }}</h5>
</div>
<div class="offcanvas-body">
    <table class="table">
        <thead>
            <tr>
                <th>Path</th>
                <th>Last Modified</th>

            </tr>
        </thead>
        <tbody>
            {% if files%}
            {% for file in files %}
            <tr>

                <td>{{ file.path }}</td>
                <td>{{ file.lastModified }}</td>

            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">(No files to list.)</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>